.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#ol_lst{
  border: 5px solid #E8630A;
  font-size: 18px;
  font-family: sans-serif;
}

#ol_lst > li{
  margin: 10px 0;
  padding: 0 10px;
}

.tbl{
  border-spacing: 10px;
  border: 10px solid #c8a2c8;
  background-color: #a37063;
}

.t_td{
  width: 50px;
  text-align: center;
  background-color: #D82148;
}

.cal{
  background-color: #5584AC;
  color: white;
  text-align: center;
  font-size: 11.5pt;
  padding: 15px;
  font-family: sans-serif;
}

.m_a_y{
  background-color: #5584AC;
  color: white;
  text-align: center;
  font-family: sans-serif;
  min-height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-left: 26px;
}

.cal, td{
  min-width: 40px;
  height: 35px;
}

.no_this{
  opacity: 0.5;
}

.today{
  background-color: #113CFC;
  border: 1px solid black;
}

.today{
  background-color: #113CFC;
  border: 1px solid black;
}

.st_snd{
  background-color: #346B9B;
}

.hori{
  margin: 0;
  height: 1px;
  border: none;
  background-color: #5584AC;
  opacity: 0.7;
}

.search{
  min-height: 80px;
  background-color: #5584AC;
  color: white;
  text-align: center;
  font-family: sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search > input{
  max-width: 60px;
  min-height: 20px;
  border:none;
  text-align: center;
}

.search > input:focus{
  outline: none;
}

.search > button{
  min-height: 22px;
  border: none;
  color: #113CFC;
}

.only_today{
  background-color: #5584AC;
  color: #42C2FF;
  text-align: center;
  font-family: sans-serif;
  min-height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 26px;
}

.std_counter{
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.btn_count{
  min-height: 30px;
  font-family: sans-serif;
  border: none;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.26);
}

.res_icon{
  min-height: 50px;
  background-color: #5584AC;
  color: white;
  font-family: sans-serif;
  font-size: 20pt;
  display: flex;
  justify-content: center;
  align-items: center;
}
