.wrapper{
  /*min-height: 929px;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

#ol_lst{
  border: 5px solid #E8630A;
  font-size: 18px;
  font-family: sans-serif;
}

#ol_lst > li{
  margin: 10px 0;
  padding: 0 10px;
}

.tbl{
  border-spacing: 10px;
  border: 10px solid #c8a2c8;
  background-color: #a37063;
}

.t_td{
  width: 50px;
  text-align: center;
  background-color: #D82148;
}

.cal{
  background-color: #5584AC;
  color: white;
  text-align: center;
  font-size: 11.5pt;
  padding: 15px 15px;
  font-family: sans-serif;
}

.m_a_y{
  background-color: #5584AC;
  color: white;
  text-align: center;
  font-family: sans-serif;
  min-height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-left: 26px;
}

.cal, td{
  min-width: 40px;
  height: 35px;
}

.no_this{
  opacity: 0.5;
}

.today{
  background-color: #113CFC;
  border: 1px solid black;
}

.st_snd{
  background-color: #346B9B;
}
